
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e3a8a;
    color: #ffffff;
}


.toolbar {
    background-color: #1e40af;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar h1 {
    margin: 0;
}

.toolbar nav a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: bold;
}

.toolbar nav a:hover {
    text-decoration: underline;
}

/* Page Titles */
h2 {
    margin-left: 30px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 40px;
    width: 95%;
    margin: 0 auto;
}

.card {
    background-color: white;
    color: black;
    padding: 40px;
    border-radius: 12px;
    flex: 1;
    min-height: 500px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.35);
}

.output-box {
    margin: 25px auto;
    padding: 25px;
    background-color: #f3f4f6;
    border-radius: 10px;
    min-height: 250px;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


select {
    padding: 8px;
    margin-top: 10px;
    width: 100%;
}


button {
    padding: 8px 12px;
    background-color: #3b82f6;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2563eb;
}

.blank-cell {
    min-width: 300px;
}

.blank-header {
    min-width: 100px;
}

.hidden {
    display: none;
}

.team-row > td {
    vertical-align: top;
}

.flag-img {
    width: 40px;
    height: 25px;
    object-fit: cover;
    margin-right: 10px;
}   

.country-name{
    vertical-align: top;
}

.players-row {
    height: 35px;
}

.players-row > td{
    text-align: left;
}
